@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <form method="post" action="/Home/Send" role="form">
        <fieldset>
            <legend>推送訊息</legend>

            <div class="form-group">
                <label for="DeviceType">接收的裝置:</label>
                <select class="form-control" id="DeviceType" name="DeviceType">
                    <option value="android">Android</option>
                    <option value="ios">iOS</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Devices">推送裝置 ID </label>
                <input class="form-control" type="text" name="Devices" id="Devices">
                <p class="help-block">(以 , 隔開；空白則為全送)</p>
            </div>
            <div class="form-group">
                <label for="Message">推送訊息</label>
                <textarea class="form-control" rows="5" cols="80" id="Message" name="Message"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">送出</button>
            </div>

        </fieldset>
    </form>
</div>